// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the startup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login{
     background: image-url('Background.jpg');
     background-size:100% auto;
}

#home{
	background: image-url('home_background.jpg');
     background-size:100% auto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.holder{
    text-align: center;
}
.cells{
	display: inline-block;
    margin: 5px;
}
.header{
	text-align: center;
	padding: 10px;
	color: white;
}
.wrapper {	
	margin-top: 140px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading{
	  margin-bottom: 30px;
	  text-align: center;
	  color: #42DCA3;
	  
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  background-color: rgba(245, 245, 245, 0.8);

		&:focus {
		  z-index: 2 #42DCA3;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	
	.btnThree {
		margin-top: 10px;
		padding: 10px 47px;
	    text-transform: uppercase;
	    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 400;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	    border-radius: 0;
	}
	
	.btnTwo {
		margin-top: 10px;
		padding: 10px 129px;
	    text-transform: uppercase;
	    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 400;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	    border-radius: 0;
	}
	
	.btnOne {
		margin-top: 10px;
		padding: 10px 116px;
	    text-transform: uppercase;
	    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 400;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	    border-radius: 0;
	}
	
	.btn {
		padding: 10px 123px;
	    text-transform: uppercase;
	    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-weight: 400;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	    border-radius: 0;
	}
	
	.btn-default {
	    border: 1px solid #42DCA3;
	    color: #42DCA3;
	    background-color: rgba(245, 245, 245, 0.8);
	    &:hover,
	    &:focus {
	        border: 1px solid #42DCA3;
	        outline: none;
	        color: black;
	        background-color: #42DCA3;
	    }
	}
	
	.firstFont {
		color: rgba(142, 142, 148, 1);
		&:hover {
			color: #42DCA3;
		}
		
	}
	
	.centerDiv {
		margin-top: 10px;
		margin-bottom: -25px;
		text-align: center;
	}
	
	.centerForgetDiv {
		margin-top: -15px;
		margin-bottom: 5px;
		text-align: center;
	}
	
}
